<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首页</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <style>
    table {
      /* border-collapse: collapse; */
      min-width: 888px;
      text-align: center;
    }

    table thead tr th {
      height: 66px;
    }

    table tbody tr td img {
      width: 75px;
      height: 75px;
      vertical-align: middle;
    }
  </style>
</head>

<body>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>用户</th>
        <th>头像</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <hr>
  <button id="chat" type="button">进入在线聊天室</button>
  <button id="logout" type="button">退出登录</button>
</body>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // axios 拦截器
  axios.interceptors.request.use((config) => {
    // console.log(config)
    const authorization = localStorage.getItem('Authorization') || ''
    if (authorization) {
      config.headers.Authorization = `Bearer ${authorization}`
    }
    return config
  }, (err) => {
    return Promise.reject(err)
  })
  axios.interceptors.response.use((response) => {
    // console.log(response)
    const headers = response.headers || {}
    const authorization = headers.authorization || ''
    authorization && localStorage.setItem('Authorization', authorization)
    return response
  }, (err) => {
    if (err.response && err.response.status === 401) {
      // alert(err.response.data.msg)
      localStorage.removeItem('Authorization')
      location.href = '/login'
      return
    }
    return Promise.reject(err)
  })
</script>
<script>
  $(function () {
    fetchUsers()

    $('#logout').click(() => {
      localStorage.removeItem('Authorization')
      location.href = '/login'
    })

    $('#chat').click(() => {
      location.href = '/chat'
    })
  })

  function fetchUsers() {
    axios({
      method: 'get',
      url: '/api/user/list'
    }).then(({ data }) => {
      if (data.ret === 1) {
        $('tbody').html(data.data.map(item => `
          <tr>
            <td>${item._id}</td>
            <td>${item.username}</td>
            <td><img src="${item.avatar}" alt="${item._id}" /></td>
            <td>
              <button type="button" data-id="${item._id}" onclick="edit(this)">修改</button>
              <button type="button" data-id="${item._id}" onclick="del(this)">删除</button>
            </td>
          </tr>
        `))
      } else {
        alert(data.msg)
      }
    })
  }

  function edit(el) {
    const username = prompt('请输入新的用户名')
    if (username) {
      const id = $(el).data('id')
      const data = { username }
      axios({
        url: `/api/user/${id}`,
        method: 'put',
        data
      }).then(({ data }) => {
        if (data.ret === 1) {
          fetchUsers()
        } else {
          alert(data.msg)
        }
      })
    }
  }

  function del(el) {
    if (confirm('确认删除吗？')) {
      const id = $(el).data('id')
      axios({
        url: `/api/user/${id}`,
        method: 'delete'
      }).then(({ data }) => {
        if (data.ret === 1) {
          fetchUsers()
        } else {
          alert(data.msg)
        }
      })
    }
  }
</script>

</html>
