<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>注册</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <style>
    .mt10 {
      margin-top: 10px;
    }
  </style>
</head>

<body>
  <form id="register">
    <div>用户&nbsp;&nbsp;<input type="text" name="username" id="username"></div>
    <div class="mt10">密码&nbsp;&nbsp;<input type="password" name="password" id="password"></div>
    <div class="mt10">头像&nbsp;&nbsp;<input type="file" name="avatar" id="avatar" accept="image/*"></div>
    <button type="submit" class="mt10">注册</button>
  </form>
  <hr>
  <span>已注册账户，点击跳转&nbsp;<a href="/login">登录</a>&nbsp;页面</span>
</body>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // axios 拦截器
  axios.interceptors.request.use((config) => {
    // console.log(config)
    const authorization = localStorage.getItem('Authorization') || ''
    if (authorization) {
      config.headers.Authorization = `Bearer ${authorization}`
    }
    return config
  }, (err) => {
    return Promise.reject(err)
  })
  axios.interceptors.response.use((response) => {
    // console.log(response)
    const headers = response.headers || {}
    const authorization = headers.authorization || ''
    authorization && localStorage.setItem('Authorization', authorization)
    return response
  }, (err) => {
    if (err.response && err.response.status === 401) {
      // alert(err.response.data.msg)
      localStorage.removeItem('Authorization')
      location.href = '/login'
      return
    }
    return Promise.reject(err)
  })
</script>
<script>
  $(function () {
    $('#register').on('submit', function (e) {
      e.preventDefault()
      const files = $('#avatar').prop('files')
      if (files.length) {
        const file = files[0]
        let fileType = file.type
        fileType = fileType.substring(fileType.lastIndexOf('/') + 1);
        if (fileType !== 'png' && fileType !== 'jpg' && fileType !== 'jpeg') {
          alert('Only jpg/jpeg and png file are allowed')
          return
        }
      }
      const data = new FormData()
      data.append('username', $('#username').val())
      data.append('password', $('#password').val())
      if (files.length) {
        data.append('avatar', files[0])
      }
      // axios 请求参数如果是 FormData 类型，请求头 Content-Type 自动设置为 multipart/form-data 类型
      axios({
        method: 'post',
        url: '/api/register',
        data
      }).then(({ data }) => {
        if (data.ret === 1) {
          alert('账户注册成功，即将跳转登录页面')
          localStorage.removeItem('Authorization')
          location.href = '/login'
        } else {
          alert(data.msg)
        }
      })
    })
  })
</script>

</html>
