.iconfont {
  margin-right: 8px;
}

.layui-icon {
  margin-right: 8px;
  margin-left: 20px;
}

iframe {
  width: 100%;
  height: 100%;
}

.layui-body {
  overflow: hidden;
}

a {
  transition: none !important;
}

.user-info {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 12px;
  user-select: none;
}

.layui-side-scroll .user-info {
  border-bottom: 1px solid #282b33;
}

.layui-nav-item a {
  font-size: 12px;
}

#welcome {
  font-size: 18px;
  font-weight: bold;
}
