html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
  background-color: #f2f3f5;
}

.cover-box {
  display: flex;
}

.cover-left {
  overflow: hidden;
  margin-right: 20px;
  width: 400px;
  height: 280px;
}

.cover-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-preview {
  overflow: hidden;
  margin-bottom: 20px;
  width: 200px;
  height: 140px;
  background-color: #ccc;
}
